Clustername:	{{ clustername }}
Cluster cidr:	{{ subnetcidr }}
Workers:	{{ workers }}
Worker flavor:	{{ workerimageflavor }}
VIP:		{{ floatingip }}
sshkey:		{{ rsakey }}
keypair:	{{ keypair }}
avzone:		{{ availabilityzone }}
externalnetid:	{{ externalnetid }}
defaultsecgrp:	{{ defaultsecuritygroupid }}

